/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* header section starts here */
.header-logo  {
    text-align: left;
}
.header-navbar ul {
    text-align: right;
}
.header-navbar li {
    display: inline-block;

}
.header-navbar li a {
    display: inline-block;

}

/* header section Ends here */

/*banner-section design starts here*/
.banner-section {
    position: relative;
    height: 100vh;
}
.banner-section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.banner-section-content h1 {
    width: 800px;
    font-size: 3.25rem;
    padding: 30px ;
    word-spacing: 30px;
    letter-spacing: 5px;
}
.banner-section-content p {
    width: 450px;
    font-size: 2rem;
    padding: 15px ;
  
}
.banner-section-content .btn {
    font-size: 2.5rem;
    width: 300px;
}
/*banner-section design Ends here*/

/*contact Design Starts here*/
.contact-content {
    max-height: 100%;
   
}


/*contact Design Ends here*/


/* footer design starts here */

.footer-para {
  padding: 15px 0;
  text-align: left;
}
.icon-style  {
    margin: 0 15px;
    float: right;
}
/* footer design Ends here */